									<div class="js-discMap-content js-discMap-content_0 isActive">
										<p class="txt_bold">Choose a word around the circle to get started.</p>
										<p>Start exploring your DiSC style. Choose a word (Priority) around the circle to learn more about your workplace preferences. Watch the video to see how it's done.</p>
										
										<!-- VIDYARD VIDEO -->
										<span id="vidyard_wdUt7NiexznDRQrvwZw1Eg" class="vidyard_player vidyard_inline"><span id="vidyard_span_wdUt7NiexznDRQrvwZw1Eg" style="display: block; margin: auto; position: relative;"><iframe id="vidyard_iframe_wdUt7NiexznDRQrvwZw1Eg" class="vidyard_iframe" src="http://play.vidyard.com/wdUt7NiexznDRQrvwZw1Eg.html?v=3.1.1&amp;type=inline&amp;referring_url=http%253A%252F%252Flocalhost%253A3000%252Fstyle.html&amp;" width="100%" height="100%" title="Video" aria-label="Video" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="" style="opacity: 1; position: absolute; right: 0px; top: 0px; background-color: transparent;"></iframe></span></span><!-- END VIDYARD VIDEO -->
									</div>