			<!-- RESET PASSWORD FORM -->
			<div class="form">
				<div class="form-wrap js-password">
					<label for="password">Enter New Password</label>
					<i class="fa fa-lock"></i>
					<input type="password" id="password" name="password" class="form-input form-input_icon js-password-field" placeholder="Password (at least 8 characters)" />
					<span class="form-input-show js-password-trigger">Show</span>
				</div>
				
				<div class="wrap wrap_alignLeft">
					<span class="txt_sm">Password Strength: <span class="txt_green">Strong</span> <span class="txt_red">Weak</span></span>
				</div>

				<input type="submit" class="btn btn_secondary btn_pushTop" value="Submit" />
			</div>