			<div class="form">
				<label for="code" class="txt_pushRightSm">Enter the code you received from your report</label>
				<span class="js-tip">
					<span class="tip-trigger js-tip-trigger">
						<i class="fa fa-info-circle"></i>
					</span>
					<div class="tip-content js-tip-content">
						<p>You'll find your code in either of these two places.</p>
						<div class="grid">
							<div class="grid-col grid-col_2of4">
								<img src="http://placehold.it/300x300" alt="" class="imgResponsive" />
							</div>
							<div class="grid-col grid-col_2of4">
								<img src="http://placehold.it/300x300" alt="" class="imgResponsive" />
							</div>
						</div>
					</div>
				</span>
				<div class="form-wrap form-wrap_alignCenter">
					<i class="fa fa-key"></i>
			    	<input type="text" id="code" name="code" class="form-input form-input_icon" placeholder=" for example: 1234-5678">
				</div>
				<input type="submit" value="Add" class="btn btn_secondary btn_sm btn_pushTopSm">
				<div class="alert alert_inline">
					<p class="txt_bold txt_pushTopSm">Your report contents aren't quite ready for this site.</p>
                    <p>Your admin hasn't quite given you access to your personalized content. You will receive an email when it's ready.</p>
				</div>
			</div>