			<!-- CREATE ACCOUNT FORM -->
			<div class="form">

				<ul class="blocks blocks_2col blocks_noMarginBtm">
					<li>
						<div class="form-wrap">
							<label for="first-name">First Name</label>
							<i class="fa fa-user"></i>
							<input type="text" id="first-name" name="first-name" class="form-input form-input_icon" placeholder="" />
						</div>
					</li>
					<li>
						<div class="form-wrap">
							<label for="last-name">Last Name</label>
							<i class="fa fa-user"></i>
							<input type="text" id="last-name" name="last-name" class="form-input form-input_icon" placeholder="" />
						</div>
					</li>
					<li>
						<div class="form-wrap">
							<label for="email">Email</label>
							<i class="fa fa-envelope"></i>
							<input type="text" id="email" name="email" class="form-input form-input_icon" placeholder="email@example.com" />
						</div>
					</li>
					<li>
						<div class="form-wrap">
							<label for="confirm-email">Confirm Email</label>
							<i class="fa fa-envelope"></i>
							<input type="text" id="confirm-email" name="confirm-email" class="form-input form-input_icon" placeholder="Confirm Email Address" />
						</div>
					</li>
				</ul>

				<div class="form-wrap">
					<label for="company">Company</label>
					<i class="fa fa-building"></i>
					<input type="text" id="company" name="company" class="form-input form-input_icon" placeholder="Name of Company or Organization" />
				</div>
				<div class="form-wrap js-password">
					<label for="password">Enter New Password</label>
					<i class="fa fa-lock"></i>
					<input type="password" id="password" name="password" class="form-input form-input_icon js-password-field" placeholder="Password (at least 8 characters)" />
					<span class="form-input-show js-password-trigger">Show</span>
				</div>
			

				<input type="submit" class="btn btn_secondary btn_pushTop" value="Create an Account" />
			</div>