			<!-- SIGN IN FORM -->
			<div class="form">
				<div class="form-wrap">
					<label for="email">Email</label>
					<i class="fa fa-envelope"></i>
					<input type="email" id="email" name="email" class="form-input form-input_icon" placeholder="email@example.com" />
				</div>
				
				<div class="form-wrap">
					<label for="email">Password</label>
					<i class="fa fa-lock"></i>
					<input type="password" id="password" name="password" class="form-input form-input_icon" placeholder="Enter Password" />
				</div>

				<div class="txt_sm">
					<div class="checkbox checkbox_block">
			            <input type="checkbox" name="checkbox-choice" id="checkbox-choice-1" value="0" />
			            <label for="checkbox-choice-1">
			            	<span class="checkbox-unchecked">
			            		<i class="fa fa-square-o"></i>
			            	</span>
			            	<span class="checkbox-checked">
			            		<i class="fa fa-check-square"></i>
			            	</span>
			            	<span class="checkbox-text">Remember Me | </span>
		            	</label>
			            	<a href="./forgot-password.html">Forgot Password?</a>
			        </div>
			    </div>

				<input type="submit" class="btn btn_secondary" value="Sign In" />
			</div>