                <!-- BEGIN HERO, USER STYLE -->
	            <div class="hero" style="display: block;">
                    <div class="hero-info">
                        <div class="hero-info-hd">
                            <h1 class="hdg hdg_1 hdg_pushTopSm hdg_pushBtm">Your style is: <span class="txt_bold">D</span></h1>
                        </div>
                        <div class="hero-info-bd">
                            <p>People with this style are direct and tough-minded. They're outspoken with their opinions and aren't afraid to be forceful when they're pushing for results. They tend to challenge people and don't waste time beating around the bush.</p>
                        </div>
                        <div class="hero-info-ft">
                            <a href="./style.html" class="btn">Gain insights about your style</a>
                        </div>
                    </div>
                    <div class="hero-img">
                        <img src="./media/images/discs/placeholder-disc.png">
                    </div>
	            </div><!-- END HERO, USER STYLE -->