                <!-- BEGIN HERO, LEARN DISC -->
                <div class="hero js-discMap" style="display: block;">
                    <div class="hero-info">
                        <div class="hero-info-hd">
                            <h1 class="hdg hdg_1 hdg_pushTopSm hdg_pushBtm">You will know your style <span class="">soon.</span></h1>
                        </div>
                        <div class="hero-info-bd">
                            <p>In the meantime, find out more about Everything DiSC® by browsing the Learn About DiSC section below.</p>
                        </div>
                        <div class="hero-info-ft">
                            <div class="box">
                                {% include "partials/pie/_pie-info.html" %}
                            </div>
                        </div>
                    </div>
                    <div class="hero-img">
                        {% include "partials/pie/_pie-media.html" %}
                    </div>
                </div><!-- END HERO, LEARN DISC -->