                <!-- BEGIN HERO, NO REPORT -->
	            <div class="hero" style="display: block;">
                    <div class="hero-info">
                        <div class="hero-info-hd">
                            <h1 class="hdg hdg_1 hdg_pushTopSm hdg_pushBtm">Welcome, Wiley Colleague!</h1>
                        </div>
                        <div class="hero-info-bd">
                            <p>You will see personalized content on this site after you take an Everything DiSC® assessment.</p>
                        </div>
                        <div class="hero-info-ft">
                            <a href="javascript:void(0);" class="btn">Take the Assessment</a>
                        </div>
                    </div>
                    <div class="hero-img">
                        <img src="./media/images/discs/placeholder-disc-3.png">
                    </div>
	            </div><!-- END HERO, NO REPORT -->