// ------------------------------------------------------------------
// Alert Med
// ------------------------------------------------------------------
.alert_fixed {
	position: relative;
	top: inherit;
	left: inherit;
}