/*----------------------------------------------------------------------
 Tabs Medium
----------------------------------------------------------------------*/
.tabsNav {
	width: 100%;
	margin-bottom: 0;
	@include clearfix();
}

.tabsNav ul {
	display: inline-block;
	text-align: left;
}

.tabsNav li {
	display: inline-block;
	padding: 20px 12px;
	margin: 0;
	background: none;
}

.tabsNav_wide li {padding: 20px 30px;}

.tabsNav li:first-child {padding-left: 0;}
.tabsNav li:last-child {padding-right: 0;}

.tabsNav-right {
	margin-top: 5px;
	float: right;
}

.tabsNav .tabsNav-right > li {padding: 10px 5px;}

.tabsNav .tabsNav-right > li:last-child {padding-right: 0;}