//----------------------------------------------------------------------
// Slider Custom Styles Med
//----------------------------------------------------------------------
.flexslider_learn {
	.slides > li > img {
		width: 50%;
		float: left;
	}

	.slides-info {
		width: 48%;
		margin-left: 2%;
		float: right;
	}
}