/*----------------------------------------------------------------------
 Button - Yay, buttons!
----------------------------------------------------------------------*/
.btn {
    display: inline-block;
    min-width: 160px;
    margin: 0 20px 20px 0;
    padding: 12px 20px;
    box-shadow: $BOX_SHADOW;
    border: 2px solid $BRAND_LIGHT;
    border-radius: 6px;
    color: $BRAND;
    background: $WHITE;
    font-family: $FONT_SECONDARY;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
    transition: box-shadow .1s, transform .1s;
}

.btn:hover,
.btn:focus,
.btn.isActive {
    box-shadow: none;
    color: $BRAND;
    text-decoration: none;
    transform: translate(2px,2px);

    background: #e2f6ff; /* Old browsers */
    background: linear-gradient(to bottom,  #ffffff 50%,#e0e0e0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
}

.btn:last-child {margin-right: 0;}

.btn_secondary {
    border: 2px solid #0280B5;
    color: #ffffff;
    background: $BRAND;
}

.btn_secondary:hover,
.btn_secondary:focus,
.btn_secondary.isActive {
    color: #ffffff;

    background: #0280B5; /* Old browsers */
    background: linear-gradient(to bottom,  #0092cf 50%,#0280b5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0092cf', endColorstr='#0280b5',GradientType=0 ); /* IE6-9 */
}

.btn_tertiary {
    border-color: #eeaf30;
    color: #323232;
    background-color: #fdd601;
    text-transform: uppercase;
}

.btn_tertiary:hover,
.btn_tertiary:focus {
    color: #323232;
    
    background: #eeaf30; /* Old browsers */
    background: -moz-linear-gradient(top,  #fdd601 50%, #eeaf30 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#fdd601), color-stop(100%,#eeaf30)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fdd601 50%,#eeaf30 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fdd601 50%,#eeaf30 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fdd601 50%,#eeaf30 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fdd601 50%,#eeaf30 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdd601', endColorstr='#eeaf30',GradientType=0 ); /* IE6-9 */
}

.btn_sm {
    min-width: 120px;
    padding: 8px 10px;
    font-size: 16px;
}

.btn_xsm {
    min-width: 120px;
    padding: 8px 10px;
    font-size: 14px;
}

.btn_xxsm {
    min-width: 120px;
    padding: 5px 10px;
    font-size: 14px;
}

.btn:disabled,
[disabled="disabled"],
.btn.inActive {
    border: 2px solid #cfe0e6;
    box-shadow: none;
    color: #cfe0e6;
    background: #f7fbfc;
    cursor: not-allowed;
    transform: none;
}

.btn_minWidthMobile {min-width: 200px;}

.btn_pushTop {margin-top: 20px;}
.btn_pushTopSm {margin-top: 10px;}
.btn_pushBtm {margin-bottom: 20px;}
.btn_pushBtmSm {margin-bottom: 10px;}
.btn_pushLeft {margin-left: 20px;}
.btn_pushRight {margin-right: 20px;}

.btn_pushBtmNone {margin-bottom: 0;}
.btn_pushRightNone {margin-right: 0;}
