/*----------------------------------------------------------------------
 Sticky Footer
----------------------------------------------------------------------*/
$STICKY_HEIGHT: 272px +59px; /* Footer height plus sub footer height */

.stickyFooter {
    min-height: 100%;
    margin-bottom: -$STICKY_HEIGHT;
}

.stickyFooter:after {
    display: block;
    content: "";
    height: $STICKY_HEIGHT;
}