									<div class="js-discMap-content js-discMap-content_7">
										<h3 class="hdg hdg_3 hdg_bold hdg_pushBtm">Challenge</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat dolorem omnis sapiente doloremque nam, quidem, culpa placeat dolorum ducimus cumque unde dolores illum! Deleniti quos sed doloremque nemo aut molestias.</p>
										<h4 class="hdg hdg_4 hdg_bold hdg_pushBtm">Challenge is one of your priorities.</h4>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure sed velit, commodi doloremque ipsum ullam similique quaerat. Quis, odio sequi?</p>
										<h4 class="hdg hdg_4 hdg_bold hdg_pushBtm">How much effort does this take for you?</h4>
										<!-- BEGIN PROGRESS BAR -->
								        <div class="progress">
								            <div class="progress-bar">
								                <div class="progress-bar-object">
								                    <div class="progress-bar-animation"></div>
								                    <div class="progress-bar-mask progress-bar-mask_70"></div>
								                </div>
								            </div>
								            <ul class="progress-labels">
								            	<li class="txt txt_sm txt_upper">Not much</li>
								            	<li class="txt txt_sm txt_upper">A lot</li>
								            </ul>
								        </div>
									</div>