/*----------------------------------------------------------------------
 Topside Med
----------------------------------------------------------------------*/
.topside {
	width: 60px;
	height: 60px;
	bottom: 30px;
	right: 30px;
	font-size: 50px;
}

.topside i {margin: -30px 0 0 -25px;}