//----------------------------------------------------------------------
// Drawer Styles
//----------------------------------------------------------------------
.drawer {
	display: block;
	margin-bottom: 20px;
	@include clearfix();
	text-align: left;
}

.drawer-trigger {
	text-align: center;
}

.drawer-hd {
	margin: 0 0 10px 0;
	font-size: 20px;
}

.drawer-content {
	display: none;
	padding: 10px;
	margin-bottom: 5px;
	border-top: none;
	@include clearfix();
	background: $GRAY_LIGHT;
}

.drawer-content.isActive {display: block;}