	<!-- BEGIN REPORTS MODAL MODULE -->
	<div class="modal js-modal">
	    <div class="modal-mask js-modal-mask js-modal-mask_close"></div><!-- REMOVE modal-mask_close IF YOU WANT TO DEACTIVATE ON CLICK CLOSE FUNCTION ON MASK -->
	    <div class="modal-content js-modal-content isActive">
	        <div class="modal-hd">
	        	<div class="avatar avatar_sm pushRight5 pullBtm10" style="background-image:url(./media/images/placeholders/monkey2.jpg);"></div>
	            <h3 class="hdg hdg_3 hdg_inline">Monkutie Pie: </h3>
	            <div class="circle circle_sm pullTop5">Si</div>
	        </div>
	        <div class="modal-bd js-tip">
	        	<div class="" style="display: none;">
	        		<h4 class="hdg hdg_4 hdg_alignCenter"></h4>
	        		<div class="spinner"><i class="fa fa-spinner fa-pulse"></i></div>
	        	</div>
	            <div class="wrap wrap_alignCenter">
	            	<h4 class="hdg hdg_4 hdg_pushBtm hdg_alignCenter">Everything DiSC Workplace Profile <i class="fa fa-info-circle js-tip-trigger"></i></h4>
	            	<div class="tip-content js-tip-content">
								<span class="txt_sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo voluptatum quae esse velit minima rem, culpa voluptas maxime iure harum quibusdam ducimus rerum delectus.</span>
							</div>
	            	<img src="./media/images/discs/placeholder-disc.png" alt="" class="imgFlex">
	            </div>
	        </div>
	        <a href="javascript:void(0)" class="modal-close js-modal-close" title="close">
	            <i class="fa fa-times-circle"></i>
	        </a>
	    </div>
	</div><!-- END REPORTS MODAL MODULE-->