/* ---------------------------------------------------------------------
Mixin Adjustment Styles
------------------------------------------------------------------------ */
*.pushLeft5 {margin-left: 5px;}
*.pushLeft10 {margin-left: 10px;}
*.pushLeft20 {margin-left: 20px;}
*.pushLeft40 {margin-left: 40px;}

*.pushRight5 {margin-right: 5px;}
*.pushRight10 {margin-right: 10px;}
*.pushRight20 {margin-right: 20px;}
*.pushRight40 {margin-right: 40px;}

*.pushTop5 {margin-top: 5px;}
*.pushTop10 {margin-top: 10px;}
*.pushTop20 {margin-top: 20px;}
*.pushTop40 {margin-top: 40px;}

*.pushBtm0 {margin-bottom: 0;}
*.pushBtm5 {margin-bottom: 5px;}
*.pushBtm10 {margin-bottom: 10px;}
*.pushBtm20 {margin-bottom: 20px;}
*.pushBtm40 {margin-bottom: 40px;}

*.pullLeft5 {margin-left: -5px;}
*.pullLeft10 {margin-left: -10px;}
*.pullLeft20 {margin-left: -20px;}
*.pullLeft40 {margin-left: -40px;}

*.pullRight5 {margin-right: -5px;}
*.pullRight10 {margin-right: -10px;}
*.pullRight20 {margin-right: -20px;}
*.pullRight40 {margin-right: -40px;}

*.pullTop5 {margin-top: -5px;}
*.pullTop10 {margin-top: -10px;}
*.pullTop20 {margin-top: -20px;}
*.pullTop25 {margin-top: -25px;}
*.pullTop40 {margin-top: -40px;}

*.pullBtm5 {margin-bottom: -5px;}
*.pullBtm10 {margin-bottom: -10px;}
*.pullBtm20 {margin-bottom: -20px;}
*.pullBtm40 {margin-bottom: -40px;}