/*----------------------------------------------------------------------
 Wraps Med
----------------------------------------------------------------------*/
.wrap_content {padding: 20px;}

.wrap_contain {padding: 0 20px;}

.wrap_paddedWidth {padding: 0 40px;}

.wrap_alignCenterMobile {text-align: left;}
.wrap_alignRight.wrap_alignCenterMobile {text-align: right;}
