		<!-- BEGIN BANNER -->
        <div class="wrap wrap_extend wrap_blue">
            <div class="wrap wrap_content">
                <div class="banner">
                    <div class="banner-info">
                        <h3 class="hdg hdg_3 hdg_bold hdg_white hdg_pushBtmSm">How does your style differ from those of your colleagues?</h3>
                        <span class="txt txt_bold txt_upper">Share and compare DiSC styles and get tips on working together</span>
                    </div>
                    <div class="banner-nav">
                        <a href="./comparisons.html" class="btn btn_tertiary btn_pushRightNone">My Comparisons</a>
                    </div>
                </div>
            </div>
        </div><!-- END BANNER -->