// ------------------------------------------------------------------
// Banner
// ------------------------------------------------------------------
.banner {
	width: 100%;
	@include clearfix();
	text-align: center;
}

.banner-info {
	margin-bottom: 20px;
}