// ------------------------------------------------------------------
// Flexslider Mods and Overrides Med
// ------------------------------------------------------------------
.flex-direction-nav {display: block;}

.flex-control-nav {bottom: 25px !important;}

.slides-info {
	width: 100%;
	position: absolute;
	bottom: 40px;
	text-align: center;
}

.slides-info-hd {
	padding: 5px 20px;
	margin-bottom: 20px;
	background: rgba(255,255,255,.8);
	font-size: 40px;
}
