<!-- forgot-password.nunjucks -->
{% extends "layout.html" %}

{% block content %}

	<!-- STICKY FOOTER -->
    <div class="stickyFooter">
		{{header.active('signin')}}

	    <div class="wrap wrap_content wrap_signin wrap_alignCenter pushBtm20" id="top">

			<h1 class="hdg hdg_1 pushBtm10">Trouble Signing In</h1>
			<p>Let's get you some help.</p>

			<p><span class="txt_bold">Enter your email address </span>and we'll send you instructions on how to reset your password.</p>

			{%include "partials/forms/_form-forgot-password.html"%}

	    </div>

	</div><!-- END STICKY FOOTER -->
	
	{{footer.active('signin')}}

{% endblock %}