<!-- reset-password.nunjucks -->
{% extends "layout.html" %}

{% block content %}

	<!-- STICKY FOOTER -->
    <div class="stickyFooter">
		{{header.active('signin')}}

	    <div class="wrap wrap_content wrap_signin wrap_alignCenter wrap_pushBtm" id="top">

			<h1 class="hdg hdg_1 hdg_pushBtmSm">Reset Password</h1>

			{%include "partials/forms/_form-reset-password.html"%}

			<div class="wrap">
				<p>Your password has been updated.</p>
				<a href="" class="btn btn_secondary">Continue to site</a>
			</div><!-- DISPLAYED AFTER FORM SUBMIT -->

	    </div>

	</div><!-- END STICKY FOOTER -->
	
	{{footer.active('signin')}}

{% endblock %}