<!-- signin.nunjucks -->
{% extends "layout.html" %}

{% block content %}

	<!-- STICKY FOOTER -->
    <div class="stickyFooter">
		{{header.active('signin')}}

	    <div class="wrap wrap_content wrap_signin wrap_alignCenter  wrap_pushBtm" id="top">

			<h1 class="hdg hdg_1 hdg_pushBtmSm">Sign In</h1>
			<p>Welcome Back</p>

			{%include "partials/forms/_form-signin.html"%}

			<p><span class="txt_bold txt_block">New to MyEverythingDiSC.com? </span><a href="create-account.html"> Create an account</a> to access your personalized information!</p>

	    </div>

	</div><!-- END STICKY FOOTER -->
	
	{{footer.active('signin')}}

{% endblock %}