//----------------------------------------------------------------------
// Close Button
//----------------------------------------------------------------------
.close {
	display: inline-block;
	color: $GRAY;
	font-size: 22px;
	cursor: pointer;
}