						<div class="box box_minHeight">
							<!-- GROUP MAP INSTRUCTIONS, DESKTOP -->
							<ul class="blocks blocks_3col isHiddenMobile">
								<li>
									<div class="mediaBox">
										<div class="mediaBox-media">
											<div class="circle circle_secondary">1</div>
										</div>
										<div class="mediaBox-info">
											<span class="txt_bold txt_gray">Name this group</span>
										</div>
									</div>
								</li>
								<li>
									<div class="mediaBox">
										<div class="mediaBox-media">
											<div class="circle circle_secondary">2</div>
										</div>
										<div class="mediaBox-info">
											<span class="txt_bold txt_gray">Choose people to include</span>
										</div>
									</div>
								</li>
								<li>
									<div class="mediaBox pullTop5">
										<div class="mediaBox-media">
											<div class="circle circle_secondary">3</div>
										</div>
										<div class="medaiBox-info">
											<div class="btn btn_sm btn_pushBtmNone js-tab-trigger js-tab-trigger_sevenCompare">
												<i class="fa fa-floppy-o"></i>
												<span> Save and view map</span>
											</div>
										</div>
									</div>
								</li>
							</ul><!-- END GROUP MAP INSTRUCTIONS, DESKTOP -->

							<ul class="blocks blocks_3col">
								<li>
									<div class="mediaBox isHiddenDesktop pushBtm10">
										<div class="mediaBox-media">
											<div class="circle circle_secondary">1</div>
										</div>
										<div class="mediaBox-info">
											<span class="txt_bold txt_gray">Name this group</span>
										</div>
									</div>
									<div class="form">
										<input type="text" class="form-input" id="search-invite" name="search-invite">
									</div>
								</li>
								<li>
									<hr class="pushBtm10 isHiddenDesktop">
									<div class="mediaBox isHiddenDesktop pushBtm10">

										<div class="mediaBox-media">
											<div class="circle circle_secondary">2</div>
										</div>
										<div class="mediaBox-info">
											<span class="txt_bold txt_gray">Choose people to include</span>
										</div>
									</div>
									
									<div class="box box_border box_scroll box_noPad">
										<ul class="list list_line list_lineNoPad list_pushBtmNone">
											<li>
												<a class="link link_box" href="javascript:void(0);">
													<div class="mediaBox mediaBox_padSm">
														<div class="checkbox">
															<input type="checkbox" name="checkbox-choose" id="checkbox-choose-1" value="0" />
            												<label for="checkbox-choose-1" class="checkbox-custom"></label>
														</div>
														<div class="mediaBox-media">
															<div class="avatar avatar_sm" style="background-image: url(./media/images/profile-default.jpg);"></div>
														</div>
														<div class="mediaBox-info">
															<div class="txt_block txt_gray txt_bold">Rodney Ronderson</div>
															<div class="txt txt_sm">Medtronic</div>
														</div>
													</div>
												</a>
											</li>
											<li>
												<a class="link link_box" href="javascript:void(0);">
													<div class="mediaBox mediaBox_padSm">
														<div class="checkbox">
															<input type="checkbox" name="checkbox-choose" id="checkbox-choose-2" value="0" />
            												<label for="checkbox-choose-2" class="checkbox-custom"></label>
														</div>
														<div class="mediaBox-media">
															<div class="avatar avatar_sm" style="background-image: url(./media/images/profile-default.jpg);"></div>
														</div>
														<div class="mediaBox-info">
															<div class="txt_block txt_gray txt_bold">David Bowie</div>
															<div class="txt txt_sm">Outer Space</div>
														</div>
													</div>
												</a>
											</li>
											<li>
												<a class="link link_box" href="javascript:void(0);">
													<div class="mediaBox mediaBox_padSm">
														<div class="checkbox">
															<input type="checkbox" name="checkbox-choose" id="checkbox-choose-3" value="0" />
            												<label for="checkbox-choose-3" class="checkbox-custom"></label>
														</div>
														<div class="mediaBox-media">
															<div class="avatar avatar_sm" style="background-image: url(./media/images/profile-default.jpg);"></div>
														</div>
														<div class="mediaBox-info">
															<div class="txt_block txt_gray txt_bold">Iggy Pop</div>
															<div class="txt txt_sm">Detroit Rockers</div>
														</div>
													</div>
												</a>
											</li>
										</ul>
									</div>
								</li>
								<li>
									<hr class="pushBtm20 isHiddenDesktop">
									<div class="pullTop5 isHiddenDesktop pushBtm10">
										<div class="circle circle_secondary pushRight10">3</div>
										<div class="btn btn_sm btn_pushBtmNone js-tab-trigger js-tab-trigger_sevenCompare">
											<i class="fa fa-floppy-o"></i>
											<span> Save and view map</span>
										</div>
									</div>
									<div class="feature feature_update">
									<div class="feature-bd">
										<div class="feature-media">
											<div class="avatar" style="background-image: url(./media/images/my.png);"></div>
										</div>
										<div class="feature-info">
											<span><span class="txt_bold">My Tip:</span> Add your organization name so people can find you easier.</span>
										</div>
									</div>
								</div>
								</li>
							</ul>
						</div>