						<ul class="blocks blocks_3col">
							<li>
								<div class="feature">
									<div class="feature-hd">
										<h3 class="hdg hdg_4 hdg_bold">Monkutie Pie</h3>
										<div class="feature-close" title="delete"><i class="fa fa-times"></i></div>
									</div>
									<div class="feature-bd js-slimContent">
										<div class="feature-media">
											<div class="avatar" style="background-image: url(./media/images/placeholders/monkey2.jpg);"></div>
										</div>
										<div class="feature-info">
											<div class="txt">
												<div class="circle circle_sm">Si</div>
												<span> | </span>
												<a href="javascript:void(0);" class="js-modalTrigger">DiSC Map</a>
											</div>
											<div class="txt_pushTopXsm">Monkeytronic</div>
										</div>
									</div>
									<div class="feature-ft">
										<div class="feature-links">
											<span class="txt_upper pushRight10">Comparison: </span>
											<a href="javascript:void(0);" class="js-tab-trigger js-tab-trigger_sixCompare">View</a>
											<span> | </span>
											<a href="javascript:void(0);" class="js-modalTrigger2">Download</a>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="feature">
									<div class="feature-hd">
										<h3 class="hdg hdg_4 hdg_bold">Monkey Mick Jagger</h3>
										<div class="feature-close" title="delete"><i class="fa fa-times"></i></div>
									</div>
									<div class="feature-bd js-slimContent">
										<div class="feature-media">
											<div class="avatar" style="background-image: url(./media/images/placeholders/monkey3.jpg);"></div>
										</div>
										<div class="feature-info">
											<div class="txt">
												<div class="circle circle_sm">iD</div>
												<span> | </span>
												<a href="javascript:void(0);" class="js-modalTrigger">DiSC Map</a>
											</div>
											<div class="txt_pushTopXsm">Monkey Stones</div>
										</div>
									</div>
									<div class="feature-ft">
										<div class="feature-links">
											<span class="txt_upper pushRight10">Comparison: </span>
											<a href="javascript:void(0);" class="js-tab-trigger js-tab-trigger_sixCompare">View</a>
											<span> | </span>
											<a href="javascript:void(0);" class="js-modalTrigger2">Download</a>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="feature">
									<div class="feature-hd">
										<h3 class="hdg hdg_4 hdg_bold">The Scream Monkey</h3>
										<div class="feature-close" title="delete"><i class="fa fa-times"></i></div>
									</div>
									<div class="feature-bd js-slimContent">
										<div class="feature-media">
											<div class="avatar" style="background-image: url(./media/images/placeholders/monkey4.jpg);"></div>
										</div>
										<div class="feature-info">
											<div class="txt">
												<div class="circle circle_sm">DC</div>
												<span> | </span>
												<a href="javascript:void(0);" class="js-modalTrigger">DiSC Map</a>
											</div>
											<div class="txt_pushTopXsm">Monkey Munch Museum</div>
										</div>
									</div>
									<div class="feature-ft">
										<div class="feature-links">
											<span class="txt_upper pushRight10">Comparison: </span>
											<a href="javascript:void(0);" class="js-tab-trigger js-tab-trigger_sixCompare">View</a>
											<span> | </span>
											<a href="javascript:void(0);" class="js-modalTrigger2">Download</a>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="feature">
									<div class="feature-hd">
										<h3 class="hdg hdg_4 hdg_bold">General Adam Adams Adamson the III</h3>
										<div class="feature-close" title="delete"><i class="fa fa-times"></i></div>
									</div>
									<div class="feature-bd js-slimContent">
										<div class="feature-media">
											<div class="avatar" style="background-image: url(./media/images/profile-default.jpg);"></div>
										</div>
										<div class="feature-info">
											<div class="txt">
												<div class="circle circle_sm">D</div>
												<span> | </span>
												<a href="javascript:void(0);" class="js-modalTrigger">DiSC Map</a>
											</div>
											<div class="txt_pushTopXsm">5th Battalion</div>
										</div>
									</div>
									<div class="feature-ft">
										<div class="feature-links">
											<span class="txt_upper pushRight10">Comparison: </span>
											<a href="javascript:void(0);" class="js-tab-trigger js-tab-trigger_sixCompare">View</a>
											<span> | </span>
											<a href="javascript:void(0);" class="js-modalTrigger2">Download</a>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="feature">
									<div class="feature-hd">
										<h3 class="hdg hdg_4 hdg_bold">Amy Adams</h3>
										<div class="feature-close" title="delete"><i class="fa fa-times"></i></div>
									</div>
									<div class="feature-bd js-slimContent">
										<div class="feature-media">
											<div class="avatar" style="background-image: url(./media/images/profile-default.jpg);"></div>
										</div>
										<div class="feature-info">
											<div class="txt">
												<div class="circle circle_sm">SC</div>
												<span> | </span>
												<a href="javascript:void(0);" class="js-modalTrigger">DiSC Map</a>
											</div>
											<div class="txt_pushTopXsm">Hollywood</div>
										</div>
									</div>
									<div class="feature-ft">
										<div class="feature-links">
											<span class="txt_upper pushRight10">Comparison: </span>
											<a href="javascript:void(0);" class="js-tab-trigger js-tab-trigger_sixCompare">View</a>
											<span> | </span>
											<a href="javascript:void(0);" class="js-modalTrigger2">Download</a>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="feature">
									<div class="feature-hd">
										<h3 class="hdg hdg_4 hdg_bold">Adam Adams</h3>
										<div class="feature-close" title="delete"><i class="fa fa-times"></i></div>
									</div>
									<div class="feature-bd js-slimContent">
										<div class="feature-media">
											<div class="avatar" style="background-image: url(./media/images/profile-default.jpg);"></div>
										</div>
										<div class="feature-info">
											<div class="txt">
												<div class="circle circle_sm">iS</div>
												<span> | </span>
												<a href="javascript:void(0);" class="js-modalTrigger">DiSC Map</a>
											</div>
											<div class="txt_pushTopXsm">Adamsville</div>
										</div>
									</div>
									<div class="feature-ft">
										<div class="feature-links">
											<span class="txt_upper pushRight10">Comparison: </span>
											<a href="javascript:void(0);" class="js-tab-trigger js-tab-trigger_sixCompare">View</a>
											<span> | </span>
											<a href="javascript:void(0);" class="js-modalTrigger2">Download</a>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="feature">
									<div class="feature-hd">
										<h3 class="hdg hdg_4 hdg_bold">Rachel McAdams</h3>
										<div class="feature-close" title="delete"><i class="fa fa-times"></i></div>
									</div>
									<div class="feature-bd js-slimContent">
										<div class="feature-media">
											<div class="avatar" style="background-image: url(./media/images/profile-default.jpg);"></div>
										</div>
										<div class="feature-info">
											<div class="txt">
												<div class="circle circle_sm">C</div>
												<span> | </span>
												<a href="javascript:void(0);" class="js-modalTrigger">DiSC Map</a>
											</div>
											<div class="txt_pushTopXsm">Vinci Police</div>
										</div>
									</div>
									<div class="feature-ft">
										<div class="feature-links">
											<span class="txt_upper pushRight10">Comparison: </span>
											<a href="javascript:void(0);" class="js-tab-trigger js-tab-trigger_sixCompare">View</a>
											<span> | </span>
											<a href="javascript:void(0);" class="js-modalTrigger2">Download</a>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="feature">
									<div class="feature-hd">
										<h3 class="hdg hdg_4 hdg_bold">Bryan Adams</h3>
										<div class="feature-close" title="delete"><i class="fa fa-times"></i></div>
									</div>
									<div class="feature-bd js-slimContent">
										<div class="feature-media">
											<div class="avatar" style="background-image: url(./media/images/profile-default.jpg);"></div>
										</div>
										<div class="feature-info">
											<div class="txt">
												<div class="circle circle_sm">i</div>
												<span> | </span>
												<a href="javascript:void(0);" class="js-modalTrigger">DiSC Map</a>
											</div>
											<div class="txt_pushTopXsm">Canadian Song Writers Guild</div>
										</div>
									</div>
									<div class="feature-ft">
										<div class="feature-links">
											<span class="txt_upper pushRight10">Comparison: </span>
											<a href="javascript:void(0);" class="js-tab-trigger js-tab-trigger_sixCompare">View</a>
											<span> | </span>
											<a href="javascript:void(0);" class="js-modalTrigger2">Download</a>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="alert alert_feature">
									<p>Are you sure you want to delete this person from your Comparisons?</p>
									<div class="btn btn_xsm btn_secondary btn_pushBtmNone">Yes, Remove</div>
									<a href="#" class="link_secondary">Cancel</a>
								</div>
							</li>
						</ul>