						<div class="box box_minHeight">
							<!-- GROUP MAP INSTRUCTIONS, DESKTOP -->
							<ul class="blocks blocks_3col isHiddenMobile">
								<li>
									<div class="mediaBox">
										<div class="mediaBox-media">
											<div class="circle circle_secondary">1</div>
										</div>
										<div class="mediaBox-info">
											<span class="txt_bold txt_gray">Search people by first or last name</span>
										</div>
									</div>
								</li>
								<li>
									<div class="mediaBox">
										<div class="mediaBox-media">
											<div class="circle circle_secondary">2</div>
										</div>
										<div class="mediaBox-info">
											<span class="txt_bold txt_gray">Confirm invites to Compare</span>
										</div>
									</div>
								</li>
								<li>
									<div class="mediaBox pullTop5">
										<div class="mediaBox-media">
											<div class="circle circle_secondary">3</div>
										</div>
										<div class="mediaBox-info">
											<div class="btn btn_sm btn_pushBtmNone js-tab-trigger js-tab-trigger_twoCompare">
												<i class="fa fa-envelope"></i>
												<span>Send invites</span>
											</div>
										</div>
									</div>
								</li>
							</ul><!-- END GROUP MAP INSTRUCTIONS, DESKTOP -->

							<ul class="blocks blocks_3col">
								<li>
									<div class="mediaBox isHiddenDesktop pushBtm10">
										<div class="mediaBox-media">
											<div class="circle circle_secondary">1</div>
										</div>
										<div class="mediaBox-info">
											<span class="txt_bold txt_gray">Search people by first or last name</span>
										</div>
									</div>
									<div class="form">
										<input type="text" class="form-input" id="search-invite" name="search-invite">
										<div class="box box_border box_scroll box_noPad">
											<ul class="list list_line list_lineNoPad list_pushBtmNone">
												<li>
													<a class="link link_box" href="javascript:void(0);">
														<div class="mediaBox mediaBox_padSm">
															<div class="mediaBox-media">
																<div class="avatar avatar_sm" style="background-image: url(./media/images/placeholders/monkey2.jpg);"></div>
															</div>
															<div class="mediaBox-info">
																<div class="txt_block txt_gray txt_bold">Monkutie Pie</div>
																<div class="txt txt_sm">Monkeytronic</div>
															</div>
														</div>
													</a>
												</li>
												<li>
													<a class="link link_box" href="javascript:void(0);">
														<div class="mediaBox mediaBox_padSm">
															<div class="mediaBox-media">
																<div class="avatar avatar_sm" style="background-image: url(./media/images/placeholders/monkey3.jpg);"></div>
															</div>
															<div class="mediaBox-info">
																<div class="txt_block txt_gray txt_bold">Monkey Mick Jagger</div>
																<div class="txt txt_sm">Monkey Stones</div>
															</div>
														</div>
													</a>
												</li>
												<li>
													<a class="link link_box" href="javascript:void(0);">
														<div class="mediaBox mediaBox_padSm">
															<div class="mediaBox-media">
																<div class="avatar avatar_sm" style="background-image: url(./media/images/placeholders/monkey4.jpg);"></div>
															</div>
															<div class="mediaBox-info">
																<div class="txt_block txt_gray txt_bold">The Scream Monkey</div>
																<div class="txt txt_sm">Monkey Munch Museum</div>
															</div>
														</div>
													</a>
												</li>
												<li>
													<a class="link link_box" href="javascript:void(0);">
														<div class="mediaBox mediaBox_padSm">
															<div class="mediaBox-media">
																<div class="avatar avatar_sm" style="background-image: url(./media/images/placeholders/monkey5.jpg);"></div>
															</div>
															<div class="mediaBox-info">
																<div class="txt_block txt_gray txt_bold">Oranga Jane</div>
																<div class="txt txt_sm">The Jungle</div>
															</div>
														</div>
													</a>
												</li>
												<li>
													<a class="link link_box" href="javascript:void(0);">
														<div class="mediaBox mediaBox_padSm">
															<div class="mediaBox-media">
																<div class="avatar avatar_sm" style="background-image: url(./media/images/profile-default.jpg);"></div>
															</div>
															<div class="mediaBox-info">
																<div class="txt_block txt_gray txt_bold">Ashley Ashland</div>
																<div class="txt txt_sm">Ashley Furniture</div>
															</div>
														</div>
													</a>
												</li>
												<li>
													<a class="link link_box" href="javascript:void(0);">
														<div class="mediaBox mediaBox_padSm">
															<div class="mediaBox-media">
																<div class="avatar avatar_sm" style="background-image: url(./media/images/profile-default.jpg);"></div>
															</div>
															<div class="mediaBox-info">
																<div class="txt_block txt_gray txt_bold">Adam Adamson</div>
																<div class="txt txt_sm">Medtronic</div>
															</div>
														</div>
													</a>
												</li>
												<li>
													<a class="link link_box" href="javascript:void(0);">
														<div class="mediaBox mediaBox_padSm">
															<div class="mediaBox-media">
																<div class="avatar avatar_sm" style="background-image: url(./media/images/profile-default.jpg);"></div>
															</div>
															<div class="mediaBox-info">
																<div class="txt_block txt_gray txt_bold">Just Steve</div>
																<div class="txt txt_sm">Just Ice League</div>
															</div>
														</div>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</li>
								<li>
									<hr class="pushBtm10 isHiddenDesktop">
									<div class="mediaBox isHiddenDesktop pushBtm10">

										<div class="mediaBox-media">
											<div class="circle circle_secondary">2</div>
										</div>
										<div class="mediaBox-info">
											<span class="txt_bold txt_gray">Confirm invites to Compare</span>
										</div>
									</div>
									<div class="box box_borderSecondary box_shadow box_noPad pushBtm20">
										<div class="mediaBox mediaBox_pad">
											<div class="mediaBox-media">
												<div class="avatar" style="background-image: url(./media/images/profile-default.jpg);"></div>
											</div>
											<div class="mediaBox-info">
												<div class="txt_block txt_gray txt_bold">Rodney Ronderson</div>
												<div class="txt_sm">Medtronic</div>
											</div>	
										</div>
										<div class="box-delete" title="delete">
											<i class="fa fa-times"></i>
										</div>
									</div>
									<div class="box box_borderSecondary box_shadow box_noPad pushBtm20">
										<div class="mediaBox mediaBox_pad">
											<div class="mediaBox-media">
												<div class="avatar" style="background-image: url(./media/images/profile-default.jpg);"></div>
											</div>
											<div class="mediaBox-info">
												<div class="txt_block txt_gray txt_bold">David Bowie</div>
												<div class="txt_sm">Outer Space</div>
											</div>	
										</div>
										<div class="box-delete" title="delete">
											<i class="fa fa-times"></i>
										</div>
									</div>
									<div class="box box_borderSecondary box_shadow box_noPad pushBtm20">
										<div class="mediaBox mediaBox_pad">
											<div class="mediaBox-media">
												<div class="avatar" style="background-image: url(./media/images/profile-default.jpg);"></div>
											</div>
											<div class="mediaBox-info">
												<div class="txt_block txt_gray txt_bold">Iggy Pop</div>
												<div class="txt_sm">Detroit Rockers</div>
											</div>
										</div>
										<div class="box-delete" title="delete">
											<i class="fa fa-times"></i>
										</div>
									</div>
								</li>
								<li>
									<hr class="pushBtm20 isHiddenDesktop">
									<div class="pullTop5 isHiddenDesktop pushBtm10">
										<div class="circle circle_secondary pushRight10">3</div>
										<div class="btn btn_sm btn_pushBtmNone js-tab-trigger js-tab-trigger_two">
											<i class="fa fa-envelope"></i>
											<span>Send invites</span>
										</div>
									</div>
									<div class="feature feature_update">
									<div class="feature-bd">
										<div class="feature-media">
											<div class="avatar" style="background-image: url(./media/images/my.png);"></div>
										</div>
										<div class="feature-info">
											<span><span class="txt_bold">My Tip:</span> Add your organization name so people can find you easier.</span>
										</div>
									</div>
								</div>
								</li>
							</ul>
						</div>