						<div class="box">
							<!-- BEGIN COMPARISONS VIEW DISC SECTION -->
							<div class="grid">
								<div class="grid-col grid-col_1of3">
									<div class="feature feature_noBorder">
										<div class="feature-hd">
											<h3 class="hdg hdg_4 hdg_bold">Monkutie Pie</h3>
										</div>
										<div class="feature-bd">
											<div class="feature-media">
												<div class="avatar" style="background-image: url(./media/images/placeholders/monkey2.jpg);"></div>
											</div>
											<div class="feature-info">
												<div class="txt">
													<div class="circle circle_sm">Si</div>
													<span> | </span>
													<a href="javascript:void(0);" class="js-modalTrigger">DiSC Map</a>
												</div>
												<div class="txt_pushTopXsm">Monkeytronic</div>
											</div>
										</div>
										<div class="feature-ft">
											<div class="feature-links">
												<a href="javascript:void(0);" class="js-modalTrigger2">Download</a>
												<span> | </span>
												<a href="javascript:void(0);" class="txt_inlineBlock js-tab-trigger js-tab-trigger_twoCompare">My Comparisons</a>
											</div>
										</div>
									</div>
								</div>

								<div class="grid-col grid-col_2of3">
									<div class="wrap wrap_alignRight wrap_alignCenterMobile">
										<div class="imgEnlarge js-enlargeImg">
											<img src="./media/images/discs/placeholder-disc.png" alt="" class="imgResponsive">
											<div class="wrap wrap_alignCenter isHiddenMobile">
												<a href="javascript:void(0);" class="link_secondary js-enlargeImg-trigger"><i class="fa fa-search-plus"></i> <span>Enlarge</span></a>
											</div>
										</div>
									</div>
								</div>
							</div><!-- END COMPARISONS VIEW DISC SECTION -->

							<hr>

							<!-- BEGIN CONTINUUM SECTION -->
							<div class="wrap">
								<h3 class="hdg hdg_4 hdg_bold hdg_pushTop hdg_pushBtm">Get Tips for Working Together:</h3>
								<div class="dropdown dropdown_sm js-dropdown">
					            	<div class="dropdown-trigger js-dropdown-trigger">
					            		<span class="pushRight10">Managing Tension</span>
					            		<i class="fa fa-caret-down"></i>
					            	</div>
					            	<ul class="dropdown-content js-dropdown-content">
					            		<li>
					            			<a href="javascript:void(0);">
					            				<span class="pushRight10">Managing Tension</span>
					            			</a>
				            			</li>
					            		<li>
					            			<a href="javascript:void(0);">
					            				<span class="pushRight10">Building Relationships</span>
					            			</a>
					            		</li>
					            		<li>
					            			<a href="javascript:void(0);">
					            				<span class="pushRight10">Working on a Project</span>
					            			</a>
					            		</li>
					            	</ul>
					            </div>

					            <!-- BEGIN CONTINUUM OBJECT -->
								<div class="continuum">
								    <div class="continuum-range">
								        <span>Outgoing</span>
								        <span>Private</span>
								    </div>
								    <div class="continuum-line"></div>
								  
								    <div class="continuum-dataWrap">
								        <div class="continuum-data">
								            <div class="continuum-data-item" style="background-image: url(./media/images/placeholders/monkey2.jpg);"></div>
								        </div>
								        <div class="continuum-data">
								            <!-- EMPTY CONTINUUM DATA ITEM -->
								        </div>
								        <div class="continuum-data">
								            <!-- EMPTY CONTINUUM DATA ITEM -->
								        </div>
								        <div class="continuum-data">
								            <!-- EMPTY CONTINUUM DATA ITEM -->
								        </div>
								        <div class="continuum-data">
								            <!-- EMPTY CONTINUUM DATA ITEM -->
								        </div>
								        <div class="continuum-data">
								            <div class="continuum-data-item" style="background-image: url(./media/images/YOU.png);"></div>
								            <div class="continuum-data-item" style="background-image: url(./media/images/profile-default.jpg);"></div>
								        </div>
								        <div class="continuum-data">
								            <!-- EMPTY CONTINUUM DATA ITEM -->
								        </div>
								        <div class="continuum-data">
								            <!-- EMPTY CONTINUUM DATA ITEM -->
								        </div>
								        <div class="continuum-data">
								            <!-- EMPTY CONTINUUM DATA ITEM -->
								        </div>
								        <div class="continuum-data">
								            <!-- EMPTY CONTINUUM DATA ITEM -->
								        </div>
								        <div class="continuum-data">
								            <!-- EMPTY CONTINUUM DATA ITEM -->
								        </div>
								        <div class="continuum-data">
								            <div class="continuum-data-item" style="background-image: url(./media/images/placeholders/monkey2.jpg);"></div>
								        </div>
								        <div class="continuum-data">
								            <!-- EMPTY CONTINUUM DATA ITEM -->
								        </div>
								    </div>
								    <span class="continuum-tag">
								        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, officiis?            
								    </span>
								    <ul class="continuum-list">
								        <li><i class="fa fa-check-circle-o"></i>Ask her how he likes to be approached (phone call, email, etc.) when you need to reach her.</li>
								        <li><i class="fa fa-check-circle-o"></i>Don't take it personally if she would rather work independently than collaboratively.</li>
								        <li><i class="fa fa-check-circle-o"></i>Make sure you don't get too personal too fast.</li>
								    </ul>
								</div><!-- END CONTINUUM OBJECT -->

								<!-- BEGIN CONTINUUM OBJECT -->
								<div class="continuum">
								    <div class="continuum-range">
								        <span>Focused on Feelings</span>
								        <span>Focused on Logic</span>
								    </div>
								    <div class="continuum-line"></div>
								  
								    <div class="continuum-dataWrap">
								        <div class="continuum-data">
								            <div class="continuum-data-item" style="background-image: url(./media/images/profile-default.jpg);"></div>
								        </div>
								        <div class="continuum-data">
								            <div class="continuum-data-item" style="background-image: url(./media/images/profile-default.jpg);"></div>
								        </div>
								        <div class="continuum-data">
								            <div class="continuum-data-item" style="background-image: url(./media/images/profile-default.jpg);"></div>
								        </div>
								        <div class="continuum-data">
								            <div class="continuum-data-item" style="background-image: url(./media/images/profile-default.jpg);"></div>  
								        </div>
								        <div class="continuum-data">
								            <div class="continuum-data-item" style="background-image: url(./media/images/profile-default.jpg);"></div>
								        </div>
								        <div class="continuum-data">
								            <div class="continuum-data-item" style="background-image: url(./media/images/profile-default.jpg);"></div>
								        </div>
								        <div class="continuum-data">
								            <div class="continuum-data-item" style="background-image: url(./media/images/YOU.png);"></div>
								            <div class="continuum-data-item" style="background-image: url(./media/images/profile-default.jpg);"></div>
								        </div>
								        <div class="continuum-data">
								            <div class="continuum-data-item" style="background-image: url(./media/images/profile-default.jpg);"></div>
								        </div>
								        <div class="continuum-data">
								            <div class="continuum-data-item" style="background-image: url(./media/images/profile-default.jpg);"></div>
								        </div>
								        <div class="continuum-data">
								            <div class="continuum-data-item" style="background-image: url(./media/images/profile-default.jpg);"></div>
								        </div>
								        <div class="continuum-data">
								            <div class="continuum-data-item" style="background-image: url(./media/images/profile-default.jpg);"></div>
								        </div>
								        <div class="continuum-data">
								            <div class="continuum-data-item" style="background-image: url(./media/images/profile-default.jpg);"></div>
								        </div>
								        <div class="continuum-data">
								            <div class="continuum-data-item" style="background-image: url(./media/images/profile-default.jpg);"></div>
								        </div>
								    </div>
								    <span class="continuum-tag">
								        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, officiis?            
								    </span>
								    <ul class="continuum-list">
								        <li><i class="fa fa-check-circle-o"></i>Ask her how he likes to be approached (phone call, email, etc.) when you need to reach her.</li>
								        <li><i class="fa fa-check-circle-o"></i>Don't take it personally if she would rather work independently than collaboratively.</li>
								        <li><i class="fa fa-check-circle-o"></i>Make sure you don't get too personal too fast.</li>
								    </ul>
								</div><!-- END CONTINUUM OBJECT -->
							</div><!-- END CONTINUUM SECTION -->
						</div>