						<ul class="blocks blocks_3col">
							<li>
								<div class="feature feature_update">
									<div class="feature-bd">
										<div class="feature-media">
											<div class="avatar" style="background-image: url(./media/images/my.png);"></div>
										</div>
										<div class="feature-info">
											<span><span class="txt_bold">My Tip:</span> Add your organization name so people can find you easier.</span>
										</div>
									</div>
									<div class="feature-ft">
										<div class="feature-links">
											<a href="#">Add Organization</a>
											<span> | </span>
											<a href="#" class="link_secondary">Close Message</a>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="feature">
									<div class="feature-bd">
										<div class="feature-media">
											<div class="avatar" style="background-image: url(./media/images/placeholders/monkey2.jpg);"></div>
										</div>
										<div class="feature-info">
											<span>Your invitation to Compare with <span class="txt_bold">Monkutie Pie</span> is pending.</span>
										</div>
									</div>
									<div class="feature-ft">
										<div class="feature-links">
											<a href="#" class="link_secondary">Close Message</a>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="feature">
									<div class="feature-bd">
										<div class="feature-media">
											<div class="avatar" style="background-image: url(./media/images/placeholders/monkey3.jpg);"></div>
										</div>
										<div class="feature-info">
											<span><span class="txt_bold">Monkey Mick Jagger</span> accepted your invite to compare!</span>
										</div>
									</div>
									<div class="feature-ft">
										<div class="feature-links">
											<a href="#">View Comparison</a>
											<span> | </span>
											<a href="#" class="link_secondary">Close Message</a>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="feature">
									<div class="feature-bd">
										<div class="feature-media">
											<div class="avatar" style="background-image: url(./media/images/placeholders/monkey4.jpg);"></div>
										</div>
										<div class="feature-info">
											<span>Your invitation to Compare with <span class="txt_bold">The Scream Monkey</span> is pending.</span>
										</div>
									</div>
									<div class="feature-ft">
										<div class="feature-links">
											<a href="#" class="link_secondary">Close Message</a>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="feature">
									<div class="feature-bd">
										<div class="feature-media">
											<div class="avatar" style="background-image: url(./media/images/profile-default.jpg);"></div>
										</div>
										<div class="feature-info">
											<span><span class="txt_bold">Bebe Marchand</span> accepted your invite to compare!</span>
										</div>
									</div>
									<div class="feature-ft">
										<div class="feature-links">
											<a href="#">View Comparison</a>
											<span> | </span>
											<a href="#" class="link_secondary">Close Message</a>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="feature">
									<div class="feature-bd">
										<div class="feature-media">
											<div class="avatar" style="background-image: url(./media/images/profile-default.jpg);"></div>
										</div>
										<div class="feature-info">
											<span><span class="txt_bold">David Davidson</span> accepted your invite to compare!
										</div>
									</div>
									<div class="feature-ft">
										<div class="feature-links">
											<a href="#">View Comparison</a>
											<span> | </span>
											<a href="#" class="link_secondary">Close Message</a>
										</div>
									</div>
								</div>
							</li>
						</ul>